<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to Bootstrap's CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Link to font-awesome -->
    <link rel="stylesheet"   href="./css/style.css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Share-Shed</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark fixed-top" data-bs-theme="dark">
          <div class="container-fluid">
            <h1><a class="navbar-brand" id="mainPage" href="/">
              
              <img class="nav-img" src="./images/ShareShedLogo__1_-removebg-preview.png" alt="" >
            </a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  {{#if loggedIn}}
                    <button id="logout" class="btn-no-style">Logout</button>
                  {{else}}
                  <a class="nav-link" href="/login" id="navbar-options" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Login
                  </a>
                  {{/if}}
                </li>
                <li class="nav-item dropdown">

                  <a class="nav-link" href="/signup" id="navbar-options" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sign Up
                  </a>
                </li>
                  <a class="nav-link" href="#" id="navbar-options" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    How to use Share Shed
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id ="favourites-btn" href="#" role="button" aria-expanded="false">
                    Favourites
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id = "favourites-btn" href="/listing" role="button" aria-expanded="false">
                    List an item 
                  </a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                    <li><a class="dropdown-item" href="#">Tools</a></li>
                    <li><a class="dropdown-item" href="#">Floor equipment</a></li>
                    <li><a class="dropdown-item" href="#">Carpet cleaning</a></li>
                    <li><a class="dropdown-item" href="#">General equipment</a></li>
                    <li><a class="dropdown-item" href="#">Garden tools</a></li>
                    <li><a class="dropdown-item" href="#">Trailer</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </header>

  <main>
   
    <div class="container mt-5">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>