

<div class="container mt-5">
  
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="active">
          <a href="#allTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">All</a>
        </li>
         <li>
          <a href="#powerToolsTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">Power Tools</a>
        </li>
         <li>
          <a href="#gardeningTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">Gardening</a>
        </li>
        <li>
          <a href="#cleaningTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">Cleaning</a>
        </li>
        <li>
          <a href="#trailersTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">Trailers</a>
        </li>
        <li>
          <a href="#generalTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">General</a>
        </li>
      </ul>
    
      <div id="powerToolsTab" class="tab-pane">
        <section id="item-list", class="items">
        {{#each products as |product|}}
          {{#if (eq product.category_id "1")}}
          {{> item-details}}
          {{/if}}
        {{/each}}
        </section>
      </div>
      <div id="gardeningTab" class="tab-pane">
        <section id="item-list", class="items">
        {{#each products as |product|}}
          {{#if (eq product.category_id "2")}}
          {{> item-details}}
          {{/if}}
        {{/each}}
        </section>
      </div>
      <div id="cleaningTab" class="tab-pane">
        <section id="item-list", class="items">
        {{#each products as |product|}}
          {{#if (eq product.category_id "3")}}
          {{> item-details}}
          {{/if}}
        {{/each}}
        </section>
      </div>
      <div id="trailersTab" class="tab-pane">
        <section id="item-list", class="items">
        {{#each products as |product|}}
          {{#if (eq product.category_id "4")}}
          {{> item-details}}
          {{/if}}
        {{/each}}
        </section>
      </div>
      <div id="generalTab" class="tab-pane">
        <section id="item-list", class="items">
                  {{#each products as |product|}}
          {{#if (eq product.category_id "5")}}
          {{> item-details}}
          {{/if}}
        {{/each}}
        </section>
      </div>
    </div>
    </div>
      
      <a class="float map" id="mapButton" role="button"  aria-expanded="false">
        <i class="fa-sharp fa-solid fa-map-location-dot float-map" id="float-map"></i>
        
      </a>
      
  </div>
</div>

 <script src="/js/maps.js"></script>

