<div>
<h1 id="welcomeHeader">Welcome To ShareShed!</h1>
<p>Shareshed is an online tool for sharing your shed! We allow our users to list their tools on our site, renting those tools out to other users in need!
    Simply find a product you like, Select your dates for the item. You're good to go! your booking and the pickup location will be emailed to you shortly after.
    Please feel free to email us at share.shed@shareshed.shed.au
</p>
</div>