<div class="row w-100 align-items-center">
          <div class="col-md-6">
            <img  src="./images/ShareShedLogo__1_-removebg-preview.png" class="img-fluid" alt="login">
            
          </div>
   
  <div class="login-card w-100 m-auto col-md-6">
    <h2 class="page-title text-center">Login</h2>
    <form class="form login-form">
      <div class="form-group mb-3">
        <label for="email-login" class="form-label"> Email: </label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group mb-3">
        <label for="password-login" class="form-label">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-yellow w-100 mb-3" type="submit">login</button>
      </div>
    </form>
  </div>
  {{!-- <button type="submit" class="btn btn-yellow w-100 mb-3">Login</button> --}}
  <div class="text-center my-5">
      Don’t have an account yet? <a href="/signup">Join here!</a>
  </div>

  <script src="./js/login.js"></script>