
  <div class="col-lg-12 mapdiv">
      <ul class="nav nav-tabs justify-content-center">
        <li class="active">
          <a href="#allTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">All</a>
        </li>
         <li>
          <a href="#powerToolsTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">Power Tools</a>
        </li>
         <li>
          <a href="#gardeningTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">Gardening</a>
        </li>
        <li>
          <a href="#cleaningTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">Cleaning</a>
        </li>
        <li>
          <a href="#trailersTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">Trailers</a>
        </li>
        <li>
          <a href="#generalTab" data-bs-toggle="tab" type="button" role="tab" class="nav-link">General</a>
        </li>
      </ul>
  
  <div id="map"></div>


  <a class="float map" href="/" id="mapButton" role="button"  aria-expanded="false">
    <i class="fa-solid fa-list float-list" id="float-list"></i>
  </a>
  </div>


<script type="module" src="/js/maps.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIEMx6WQ4zS-cnm7CBhC41xLHISUwukVE&callback=initMap"
defer
></script> 